
@media only screen and (max-width: 768px) {
    .logo-card1{
        display: flex;
        flex-direction: column;
    }
    .profilec{
        width: 90vw;
        flex-grow: 1;
    }
    .cc{
        width: 90vw;
        flex-grow: 1;
    }
    
}

@media only screen and (min-width: 769px) {
    .logo-card1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
}